.innerContainer {
  background-color: #EFEAE2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerWrapper {
  background-color: #00A481;
  width: 25%;
  height: 70%;
  padding: 20px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.login-title {
  color: #FFFFFF;
  font-size: 20px;
  justify-content: center;
  display: flex;
  font-weight: bold;
}

.login-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  
}

.login-email {
  width:100%;
  padding: 10px;;
  border: none;
  border-bottom: 1px solid blueviolet;
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
}

.login-password {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid blueviolet;
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
}

.login-password::placeholder {
  color: #00A481;
}

.login-email::placeholder {
  color: #00A481;
}

.login-button {
  background-color: #20E987;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px 0;
}

.text {
  color: #F9FDFC;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.register{
color: #F9FDFC;
text-decoration: none;
margin-left: 10px;

}
