.innerContainer {
  background-color: #EFEAE2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-containerWrapper {
  background-color: #00A481;
  width: 25%;
  height: 70%;
  padding: 20px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 20px;
}

.logo {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.register-title {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-name {
  padding: 10px;
  border: none;
  border-bottom: 1px solid blueviolet;
  border-radius: 5px;
  margin: 10px 0;
}
.register-email {
  padding: 10px;
  border: none;
  border-bottom: 1px solid blueviolet;
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
}
.register-password {
  padding: 10px;
  border: none;
  border-bottom: 1px solid blueviolet;
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
}

.register-name::placeholder {
  color: #00A481;
}

.register-email::placeholder {
  color: #00A481;
}

.register-password::placeholder {
  color: #00A481;
}

.signup-button {
background-color: #20E987;
  color: white;
  padding: 10px 20px ;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px 60px;
}


.ques-text {
  color: #FFFFFF;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.login-link{
color: #FFFFFF;
text-decoration: none;
margin-left: 10px;

}
